.blog-post
  %h2.blog-post-title= link_to blog.title.upcase, blog
  %p.blog-post-meta
    = succeed " ago " do
      = distance_of_time_in_words_to_now(blog.created_at)
  = render 'blogs/admin_actions', blog: blog

  %p= blog.body



