= form_for blog do |f|
  - if blog.errors.any?
    - blog.errors.full_messages.each do |error|
      = alert_generator error

  .form-group
    = f.text_field :title, class: 'form-control', placeholder: "Title"

  .form-group
  = f.label :topic_id
  = f.collection_select(:topic_id, Topic.all, :id, :title, |
                        {                                  |
                            selected: blog.topic_id,       |
                            include_blank: true            |
                        },                                 |
                        class: 'form-control')             |

  .form-group
    = f.radio_button :status, 'draft'
    = f.label :status, 'Draft'
    = f.radio_button :status, 'published'
    = f.label :status, 'Published'

  .form-group
    = f.text_area :body, class: 'form-control', rows: 15, placeholder: "Body"
  .form-group
    = f.submit 'Save', class: 'btn btn-primary '

-#= form_tag(blogs_path) do
-#  .form-group
-#    = label_tag 'blog[title]', 'Blog Title'
-#    = text_field_tag 'blog[title]', blog.title, class: 'form-control'
-#  .form-group
-#    = label_tag 'blog[body]', 'Blog Bodye'
-#    = text_area_tag 'blog[body]', blog.body, class: 'form-control', rows: 15
-#
-#  .form-group
-#    = submit_tag 'Save', class: 'btn btn-primary'


