
.col-sm-8.blog-main
  - if logged_in?(:site_admin)
    = link_to 'Edit', edit_blog_path(@blog)
  %h2= @blog.title

  %nav.breadcrumb
    = link_to "Home", root_path, class: 'breadcrumb-item'
    = link_to @blog.topic.title, @blog.topic, class: 'breadcrumb-item'
    %span.breadcrumb-item.active= @blog.title.downcase.capitalize
    - if logged_in?(:site_admin)
      %span.pull-right
        = link_to fa_icon('pencil-square-o'), edit_blog_path(@blog)
        = link_to fa_icon('trash'), @blog ,method: :delete, data: { confirm: 'Are you sure?' }



  %p= @blog.topic.title
  .blog-body
    %p= markdown @blog.body

  = render 'comments/comment_form'

  #comments{ "data-blog-id" => "#{@blog.id}"}
    = render @blog.comments
