.card
  .card-block
    .row
      .col-md-8
        %h2
          Edit
          = resource_name.to_s.humanize

        =bootstrap_devise_error_messages!
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :name
            = f.text_field :name,  class: 'form-control'
          .form-group
            = f.label :password
            %i
              (#{t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it")})
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'form-control'
          .form-group
            = f.label :current_password
            = f.password_field :current_password, class: 'form-control'

          .form-control
            = f.submit class: 'btn btn-primary'

      .col-md-4
        %h3 Cancel my account
        %p
          Unhappy?
          = button_to "Cancel my account", registration_path(resource_name),data: { confirm: 'Are_you_sure' }, method: :delete, class: 'btn btn-danger'

      = link_to 'Back', :back, class: 'auth-links'



