= bootstrap_devise_error_messages!
.card
  .card-block
    %h2 Sign Up

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|

      .row
        .col-md-6
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :name
            = f.text_field :name,  class: 'form-control'

        .col-md-6
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'form-control'

        .col-md-3.offset-md-9
          = f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary btn-block'
          .auth-links.register-text
            = render 'devise/shared/links'
