- unless current_user.is_a? GuestUser
  = form_for @comment, url: '#' do |f|
    .form-group
      = f.label :content
      = f.text_area :content, class: 'form-control'

    = f.submit 'Post Comment', class: 'btn btn-success'