.comment-card
  .card
    .card-block
      .row
        .col-md-2
          = gravatar_helper comment.user
        .col-md-10
          %div
            = comment.content

          .comment-attr
            Comment posted by
            =  succeed "  " do
              %span.comment-name= comment.user.first_name
            = distance_of_time_in_words_to_now comment.created_at
            ago

