= form_for portfolio do |f|
  - if portfolio.errors.any?
    - portfolio.errors.full_messages.each do |error|
      = alert_generator error



  .row
    .col-md-6

      .form-group
        =f.label :title
        =f.text_field :title, class: 'form-control'

      .form-group
        =f.label :subtitle
        =f.text_field :subtitle, class: 'form-control'

        .form-group
          %label.btn.btn-primary{ style: "margin-top: 20px;"}
            Upload main image
            =f.file_field :main_image, class: 'form-control', style: 'display: none;'

        .form-group
          %label.btn.btn-primary
            Upload thumb image
            =f.file_field :thumb_image, class: 'form-control', style: 'display: none;'
    .col-md-6

      .form-group
        =f.label :body
        =f.text_area :body, class: 'form-control', rows: 16

    .col-md-12

  %hr

  %h2 Technologies used
  %div
    =f.fields_for :technologies do |tech_form|
      = render 'technology_fields', f: tech_form
  %div
    = link_to_add_association 'Add technology', f, :technologies


  %hr

  = f.submit "Save portoflio", class: 'btn btn-md btn-success btn-block'



