.col-md-4
  .card{ "data-id" => "#{portfolio.id}" }
    = image_tag  portfolio_img(portfolio.thumb_image, 'thumb'), width: '100%'
    %p.card-text
      %span= link_to portfolio.title, portfolio_show_path(portfolio)
      %span= portfolio.subtitle


