.container
  .row
    .col-md-7.portfolio-container.img-circle
      = image_tag portfolio_img(@portfolio.main_image, 'main'), width: '100%'
    .col-md-5
      %h1= @portfolio.title
      %hr
      %em= @portfolio.subtitle

      %p= @portfolio.body
      %hr
      %h3 Technologies Used:
      - @portfolio.technologies.each do |t|
        %p.text-capitalize.text-nowrap= t.name

      - if  logged_in?(:site_admin)
        .row
          = link_to "Edit Item", edit_portfolio_path(@portfolio), class: 'btn btn-warning'




