.login
  .card
    .card-block
      %h4 Forgot your password?
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
        = f.submit "Retrieve password" , class: 'btn btn-primary btn-md btn-block'
      .auth-links
        = render 'devise/shared/links'
