%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.blog-nav
  %button.navbar-toggler.navbar-toggler-right{type: "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent",
  "aria-controls" => 'navbarSupportedContent', "aria-expanded" => 'false', "aria-label" => "Toggle navigation"}

    %span.navbar-toggler-icon

  .container
    = link_to 'Gravity Slave',root_path, class: 'navbar-brand '

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        = nav_helper('nav-link', 'li')
        = login_helper 'nav-link'





