.col-sm-3.offset-sm-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 About
    %p
      Etiam porta
      %em sem malesuada magna
      mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.


  = sample_helper('alert alert-info blog-sidebar-source')

  .sidebar-module
    %h4 Topics
    - @side_bar_topics.each do |topic|
      %p= link_to topic.title, topic

  .sidebar-module
    %h4 Elsewhere
    %ol.list-unstyled.social-links
      %li= link_to fa_icon("github"), "https://github.com"
      %li= link_to fa_icon("facebook"), "https://facebook.com"
      %li= link_to fa_icon("twitter"), "https://twitter.com"
      %li= link_to fa_icon("bitbucket"), 'http://bitbucket.com'
      %li= link_to fa_icon("vk"), 'https://vk.com'
      %li= link_to fa_icon("instagram"), 'https://instagram.com'
      %li= link_to fa_icon("reddit"), 'https://reddit.com'
