%footer.blog-footer
  %p
    Blog template built for
    = link_to 'Bootstrap',  "https://getbootstrap.com"
    by
    = succeed '*' do

      = link_to '@mdo', "https://twitter.com/mdo"
  %p
    = link_to 'Back to top', '#'


  = sample_helper('blog')