%div{ class: "#{location}"}
  = link_to "Home", root_path, class: 'btn btn-sm btn-primary'
  = link_to "About", about_path, class: 'btn btn-sm btn-primary'
  = link_to "Contact", contacts_path, class: 'btn btn-sm btn-primary'
  = link_to "Blog", blogs_path, class: 'btn btn-sm btn-primary'
  = link_to "Portfolio", portfolios_path, class: 'btn btn-sm btn-primary'