%footer.text-muted
  .container
    %p.float-right
      = succeed " / " do

        = link_to 'Back to top', '#'
      = succeed " / " do
        = link_to "View all portfolios", portfolios_path
      = link_to "Create new portfolio", new_portfolio_path  if logged_in?(:site_admin)
    %p= copyright_generator

    %p= sample_helper('portfolio')

