%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading 9GAG Ipsum
    %p.lead.text-muted
      Dolor mixtape letterpress, freegan chillwave fixie marfa selfies vaporware pop-up lo-fi leggings. fixie marfa selfies vaporware pop-up lo-fi leggings. Readymade +1 sartorial bushwick enim man bun vaporware succulents four dollar toast, labore blue bottle hashtag. Normcore culpa fanny pack, flannel dreamcatcher tilde enim yr crucifix accusamus jean shorts eiusmod cronut narwhal. Nesciunt elit direct trade exercitation, 3 wolf moon gentrify waistcoat eiusmod brunch cillum distillery affogato seitan
      .clearfix
      = link_to 'About Me', about_path,method: :get, class: 'btn btn-primary'
      = link_to 'Blogs', blogs_path, method: :get, class: 'btn btn-secondary'