#navbarHeader.collapse.bg-inverse
  .container
    .row
      .col-sm-8.py-4
        %h4.text-white Gag Ipsum
        %p.text-muted Forage godard retro succulents bespoke, do messenger bag mustache. Vaporware retro yuccie, minim blog next level kitsch forage magna viral fashion axe nesciunt letterpress. Elit vice celiac, selvage nihil pour-over fap helvetica messenger bag lo-fi pabst cold-pressed vexillologist.
      .col-sm-4.py-4
        %h4.text-white Contact
        %ul.list-unstyled
          = nav_helper('text-white', 'li')
          = login_helper('text-white')

.navbar.navbar-inverse.bg-inverse
  .container.d-flex.justify-content-between
    %a.navbar-brand{:href => "#"} DEUS VULT
    %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

