.app-card-container.inner-fix
  .card
    %h1 About Me
    %hr/
    .row
      .col-md-4.rounded.img-fluid
        = image_tag "catman.jpg", width: 300, alt: "profile image", class: 'profile-img'
        .clearfix
        .skills
          - @skills.each do |skill|
            .skill
              %h4= skill.title
              .progress
                .progress-bar.progress-bar-striped.bg-warning{"aria-valuemax" => "100", "aria-valuenow" => skill.percent_utilized, :role => "progressbar", :style => "width: #{skill.percent_utilized}%"}
      .col-md-8
        %p With over a decade of development experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.
        %p For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.
        %p
          %button.btn.btn-primary{"aria-controler" => "jobHistory", "aria-expanded" => "false", "data-target" => "#jobHistory", "data-toggle" => "collapse", :type => "button"}
            Job History

        %p
        #jobHistory.collapse
          .card.card-block
            Job 1
          .card.card-block
            Job 2
