.app-card-container
  .card

    %h1 Would you like to crusade together

    %hr

    .row
      .col-md-6
        %h3 Office Address

        %p 7150 E Camelback Rd, Suite 444, Scottsdale, AZ 85251

        %h3 Phone

        %p= number_to_phone "3223223223"

        %h3 Email

        %p= mail_to "ffaffa03@gmail.com", "Email me", subject: "DEUS VULT INFIDDEL"


      .col-md-6
        %iframe{src:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.3670733047989!2d30.411737751803813!3d60.04214316061776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696334f99083c2b%3A0x597e1be3afd568f!2sTimurovskaya+ul.%2C+30%2C+Sankt-Peterburg%2C+Russia%2C+195297!5e0!3m2!1sen!2s!4v1487079698359" ,width: "450", height: "450", frameborder: "0", style: "border:0", allowFullScreen: true}

