.inner.cover
  %h1.cover-heading 9GAG Ipsum
  %p.lead Officia microdosing green juice mumblecore knausgaard organic, humblebrag messenger bag duis pork belly photo booth ea ennui artisan. Banjo fashion axe unicorn YOLO.Succulents lomo squid next level hexagon typewriter, assumenda listicle snackwave echo park. Aesthetic dolore kickstarter wayfarers shoreditch vero.
  %p.lead
    =link_to "DEUS VULT?", about_path , class: 'btn btn-lg btn-secondary'








