= bootstrap_devise_error_messages!
.login

  .card

    .card-block

      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: 'off', class: 'form-control'
        - if devise_mapping.rememberable?
          .form-group
            = f.label :remember_me
            = f.check_box :remember_me
        .form-group
          = f.submit "Log in", class: 'btn btn-success btn-md'

      .auth-links
        = render 'devise/shared/links'
