!!!
%html
  %head
    %title= @page_title
    = csrf_meta_tags

    %meta{ charset:"utf-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: "keywords", content: "#{@seo_keywords}"}
    %link{ :href => "https://fonts.googleapis.com/css?family=Roboto:500|Space+Mono", :rel => "stylesheet"}
    = favicon_link_tag 'favicon-16x16.png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    .site-wrapper

      .site-wrapper-inner
        .cover-container
          = video_tag("deusvult.mp4",
            id: "background",
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'maxresdefault')

          = render 'shared/application_nav'

          = yield


          =render 'shared/application_footer'
          = alerts



