!!!
%html
  %head
    %title= @page_title
    = csrf_meta_tags
    %meta{ charset: "utf-8"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: "keywords", content: "#{@seo_keywords}"}

    = stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    = render 'shared/blog_nav'



    = render 'shared/blog_msthd'







    .container
      .row

        = yield
        = render 'shared/blog_sidebar'

    = render 'shared/blog_ftr'

    = alerts

    = sample_helper 'blog '