!!!
%html
  %head
    %title= @page_title
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{name: "keywords", content: "#{@seo_keywords}"}

    = stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'shared/portfolio_nav'



    = render 'shared/portfolio_masthead' unless logged_in?(:site_admin)

    = yield
    = render 'shared/portfolio_footer'
    = alerts



